.des {
	font-size: 1rem;
	font-weight: 700;
	text-align: center;
	position: relative;
	top: -8rem;
}
.typed-cursor {
	position: relative;
	top: -200px;
}

#typedText {
	position: relative;
	top: 1px;
}

.badge {
	width: 100%;
	justify-content: center;
	position: absolute;
	bottom: 10px;
}
.badge img {
	height: 2rem;
}
.github {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}
.github img {
	width: 30px;
}