.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-10 {
	display: flex;
	gap: 10px;
	align-items: center;
}

.flex-40 {
	display: flex;
	gap: 40px;
	align-items: center;
}

.oneline {
	white-space: nowrap; /* 防止文本换行 */
	overflow: hidden; /* 超出部分隐藏 */
	text-overflow: ellipsis; /* 超出部分用省略号表示 */
}
